<!DOCTYPE html>
<html>
  <head>
    <title>Types From Serializers</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
